<div class="content-padded">
	<h4>File: {{ name }}</h4>
</div>

    
<div>
	<button data-href="/file/{{ hash }}/start" data-ignore="push" class="start btn-positive btn-block btn"><span class="icon icon-play"></span> Start</button>
</div>
<div class="options-line">
	<div class="option-line-container">
		<button data-href="/file/{{ hash }}/backward" class="move btn-block btn btn-outlined btn-positive" data-ignore="push" data-status="pause"><span class="icon icon-back"></span> Back</abutton>
	</div>
	<div class="option-line-container option-line-wider">
		<button data-href="/file/{{ hash }}/pause" class="pause btn-block btn btn-primary" data-ignore="push" data-status="pause">Pause</button>
	</div>
	<div class="option-line-container option-line-last">
		<button data-href="/file/{{ hash }}/forward" class="move btn-block btn btn-outlined btn-positive" data-ignore="push" data-status="pause">Forward <span class="icon icon-forward"></span></button>
	</div>
</div>
<div>
	<button data-href="/file/{{ hash }}/subs" class="subs btn-block btn btn-outlined btn-primary" data-igore="push">Toggle Subs</button>
</div>
<div>
	<button data-href="/file/{{ hash }}/stop" class="stop btn-negative btn-block btn" data-ignore="push"><span class="icon icon-stop"></span> Stop</button>
</div>
