<div class="content-padded">
	<h4>File: {{ name }}</h4>
</div>

    
<div>
	<button data-href="/file/{{ hash }}/start"  data-ignore="push" class="start button-positive button-block btn">Start</button>
</div>
<div class="options-line">
	<div class="option-line-container">
		<button data-href="/file/{{ hash }}/backward" class="move button-block btn" data-ignore="push" data-status="pause">&laquo; Back</abutton>
	</div>
	<div class="option-line-container option-line-wider">
		<button data-href="/file/{{ hash }}/pause" class="pause button-block btn button-main" data-ignore="push" data-status="pause">Pause</button>
	</div>
	<div class="option-line-container option-line-last">
		<button data-href="/file/{{ hash }}/forward" class="move button-block btn" data-ignore="push" data-status="pause">Forward &raquo;</button>
	</div>
</div>
<div>
	<button data-href="/file/{{ hash }}/subs" class="subs button-block btn button-main" data-igore="push">Toggle Subs</button>
</div>
<div>
	<button data-href="/file/{{ hash }}/stop" class="stop button-negative button-block btn" data-ignore="push">Stop</button>
</div>
